[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
[submodule "themes/hello0"]
	path = themes/hello0
	url = https://github.com/make-eternal/hello0
